<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please wait...</title>
</head>
<script>
function receiveMessage(event)
{
  console.log(event);
  if (event.origin !== {{.baseUrl}})
    return;

  if (event.data === "closeWindow") {
    window.close();
  }

  if (event.data === "getAccessToken") {
    event.source.postMessage({accessToken: {{.token}}},
                               event.origin);
  }
}

window.addEventListener("message", receiveMessage, false);

window.onload = function() {
  window.opener.postMessage("callback", {{.baseUrl}});
}
</script>
<body>

</body>
</html>